<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
        </sectionGroup>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <appSettings>
        <add key="string_value_preview_length" value="100" />
    </appSettings>
    <common>
        <logging>
            <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog444">
                <arg key="configType" value="INLINE" />
            </factoryAdapter>
        </logging>
    </common>
    <runtime>
        <gcAllowVeryLargeObjects enabled="true" />
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.2.2.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
            <target name="file" xsi:type="file" layout="${date:format=HH\:MM\:ss} ${logger} ${message}" fileName="triage.log"/>
            <target name="console" xsi:type="Console" layout="${date:format=HH\:MM\:ss} ${logger} ${message}" />
        </targets>
        <rules>
            <logger name="*" minlevel="Trace" writeTo="file" />
            <logger name="*" minlevel="Trace" writeTo="console" />
        </rules>
    </nlog>
</configuration>