<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.21.1" targetFramework="net47" />
  <package id="AWSSDK.S3" version="3.3.16" targetFramework="net47" />
  <package id="CommandLineParser" version="2.1.1-beta" targetFramework="net47" />
  <package id="Elasticsearch.Net" version="6.0.0" targetFramework="net47" />
  <package id="Microsoft.CSharp" version="4.4.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net47" />
  <package id="NLog" version="4.4.4" targetFramework="net47" />
  <package id="Serilog" version="2.7.1" targetFramework="net47" />
  <package id="Serilog.Enrichers.Environment" version="2.1.2" targetFramework="net47" />
  <package id="Serilog.Enrichers.Thread" version="3.0.0" targetFramework="net47" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net47" />
  <package id="Serilog.Sinks.Elasticsearch" version="6.5.0" targetFramework="net47" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net47" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.1.1" targetFramework="net47" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net47" />
  <package id="Serilog.Sinks.Trace" version="2.1.0" targetFramework="net47" />
  <package id="System.Collections" version="4.3.0" targetFramework="net47" />
  <package id="System.Console" version="4.3.0" targetFramework="net47" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net47" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net47" />
  <package id="System.IO" version="4.3.0" targetFramework="net47" />
  <package id="System.Linq" version="4.3.0" targetFramework="net47" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net47" />
  <package id="System.Reactive" version="4.0.0-preview00001" targetFramework="net47" />
  <package id="System.Reactive.Linq" version="4.0.0-preview00001" targetFramework="net47" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net47" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net47" />
  <package id="System.Reflection.TypeExtensions" version="4.4.0" targetFramework="net47" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net47" />
</packages>