<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>               
        <!--Hello World-->
        <add key="HelloWorld.exe_x64" value="C:\projects\mortician\src\TestApplications.Console\bin\x64\Debug\TestApplications.Console.exe" />
        <add key="HelloWorld.dmp_x64" value="c:\temp\dumps\x64\helloworld.dmp" />
        <add key="HelloWorld.exe_x86" value="C:\projects\mortician\src\TestApplications.Console\bin\x86\Debug\TestApplications.Console.exe" />
        <add key="HelloWorld.dmp_x86" value="C:\temp\dumps\x86\helloworld.dmp" />                                                                       
        
        <!--Win Forms-->
        <add key="WinForms.exe_x64" value="C:\projects\mortician\src\TestApplications.WinForms\bin\x64\Debug\TestApplications.WinForms.exe" />
        <add key="WinForms.dmp_x64" value="c:\temp\dumps\x64\winforms.dmp" />
        <add key="WinForms.exe_x86" value="C:\projects\mortician\src\TestApplications.WinForms\bin\x86\Debug\TestApplications.WinForms.exe" />
        <add key="WinForms.dmp_x86" value="C:\temp\dumps\x86\winforms.dmp" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>